{% extends 'base.html' %}
{% load static %}
{% block style%}
    <link rel="stylesheet" href="{% static 'styles/form.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
{% endblock style%}
{% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <h1>Carrinho:</h1>
        {% for livro_id, livro_info in carrinho.items %}
            <h2 style="color: #fff;"> Titulo : {{livro_info.titulo}}</h2>
            <a href="{% url 'remover_carrinho' livro_info.id %}" class ="btn-outlinded-primary">Remover</a>
        {% endfor %}
        <form action="{% url 'finalizar_reserva' %}" method="post">
            {% csrf_token %} 

            {% if user_is_admin %}
                <select name="user" id="user">
                    {% for user in usuarios %}
                        <option value="{{user.id}}">{{user.username}}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <button type="submit">Finalizar</button>
        </form>
    </div>
{% endblock content %}